h1{
    color: greenyellow;
    text-align: center;
}
p{
    color: greenyellow;
    text-align: justify;
}

a{
    color: greenyellow;

}
label{
    color: greenyellow;
}
form{
    color: greenyellow;
}



